@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
svg {
  width: 40px;
  color: var(--clr-white);
}

* {
  font-family: "Lato", sans-serif;
  font-size: 1em;
  word-spacing: 3px;
}
